* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Base Styles */

body {
    font-family: 'Merriweather', serif;
    margin: 0px;
    font-size: .8em;
    background-color: #F2F3EC;
}
header {
    background-color: #34091C;    ;
    color: white;
    padding: 20px;
    text-align: center;
}

.secondary-header {
    text-align: center;
    padding-top: 15px;

}

form {
    border-top: double #34091C 6px;
    margin: 20px;
}


/* Contact Information Fieldset */


.contact-information,
.newsletter,
.secondary-header {
    border: none;
    padding-bottom: 20px;
    margin: 10px;
}

.contact-information {
    border-bottom: solid #34091C 1.5px;
}


.contact-information label,
.contact-information input,
.contact-information select {
    display: block;
}

label {
    margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    background: #FAF4F7;
    border: 2px darkgray solid;
    padding: 7px;
    height: auto;
    width: 100%;
    margin-right: 10px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus {
    background-color: white;
}

.fieldset-name {
    font-size: 1.3em;
    padding: 15px 0px 10px;
    font-weight: bold;
}

/* Newsletter Fieldset */

.form-description {
    display: block;
    padding: 15px 0px 10px;
}

button {
    background-color: #EC6988;
    color: white;
    font-size: 16px;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    padding: 20px 10px;
    margin-top: 20px;
    width: 100%;
}

/* Footer */

footer p {
    text-align: center;
    padding: 15px 0px;
    font-style: italic;
}

@media (min-width: 769px) {

main {
    width: 60%;
    margin: auto;
}

.contact-information label,
.contact-information input,
.contact-information select {
    display: inline;
    width: 70%;
}

.contact-information label {
    display: inline-block;
    width: 25%;
}


input, select {
    margin-bottom: 10px;
}